@import '../../../styles/modules/all';

:root {
  height: 100%;
  max-height: 100%;
}

body {
  height: 100%;
  overflow: hidden;
}

app-search {
  &.view {
    //height: auto;
    //width: 38rem;

    .view-content {
      //height: auto;
      //max-height: 37rem;
      //overflow: scroll;

      .header-panel {
        display: flex;
        flex-direction: row-reverse;

        button {
          flex: none;

          &.btn-settings {
            float: none;
          }
        }
      }
    }
  }
}

app-settings {
  backup-restore-settings {
    #restoreForm .validation {
      bottom: -0.75rem;
    }
  }
}

.view {
  height: 100%;
  margin: 0 auto;
  max-height: 100%;
  width: 64rem; // //////

  .view-content {
    height: 100%;
    overflow: scroll;
  }
}
